body{
   text-align: center;
}
.btn{
  border: solid 3px black;
  width: 100px;
  height: 100px;
  display: inline;
  font-size: 30px;
  font-family: 微軟正黑體;
  color: #EF8354;
  background-color: #EDDEA4;
}
h1{
  font-size: 90px;
  font-family: 微軟正黑體;
}